{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block extrastyles %} <link rel="stylesheet" href="{{ asset('css/home.css') }}"> {% endblock %}

{% block body %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<section id="status" class="mobile-hide">
	<div>Date du jour : {{ "now"|date("d/m/Y") }}</div>
	<div>Participant : {{ app.user.firstname }} {{ app.user.lastname|first }}.</div>
</section>

<section id="filters" class="mobile-hide">
	{{ form_start(homeForm) }}
	<div>
		<h3>Filtrer les sorties</h3>
		<div class="row">
			{{ form_label(homeForm.campus) }}
			{{ form_widget(homeForm.campus) }}
		</div>
		<div class="row">
			{{ form_label(homeForm.searchzone) }}
			<div id="searchzone">
				<ion-icon name="search-outline"></ion-icon>
				{{ form_widget(homeForm.searchzone) }}
			</div>
		</div>
		<div class="row">
			Entre
			{{ form_widget(homeForm.startDate) }}
			et
			{{ form_widget(homeForm.endDate) }}
		</div>
	</div>
	<div>
		<div>
			{{ form_widget(homeForm.organizerTrips) }}
			{{ form_label(homeForm.organizerTrips) }}
		</div>
		<div>
			{{ form_widget(homeForm.registeredTrips) }}
			{{ form_label(homeForm.registeredTrips) }}
		</div>
		<div>
			{{ form_widget(homeForm.notRegisteredTrips) }}
			{{ form_label(homeForm.notRegisteredTrips) }}
		</div>
		<div>
			{{ form_widget(homeForm.pastTrips) }}
			{{ form_label(homeForm.pastTrips) }}
		</div>
	</div>
	<div>
		<button>Rechercher</button>
	</div>
	{{ form_end(homeForm) }}
</section>

<section id="trips-list">
	<h2 class="mobile-show">Mes sorties :</h2>
	<table>
		<thead>
			<tr>
				<th>Nom de la sortie</th>
				<th>Date de la sortie</th>
				<th class="mobile-hide">Clôture</th>
				<th class="mobile-hide">Inscrits/Places</th>
				<th class="mobile-hide">État</th>
				<th class="mobile-hide">Inscrit</th>
				<th class="mobile-hide">Organisateur</th>
				<th class="mobile-hide">Actions</th>
				<th class="mobile-show">Lieu</th>
			</tr>
		</thead>
		<tbody>
			{% for trip in trips %}
			<tr>
				<td><a href="{{ path('trip_details', {'id': trip.id}) }}" class="trip-name">{{ trip.name }}</a></td>
				<td>{{ trip.startDateTime|date("d/m/y H:i") }}</td>
				<td class="mobile-hide">{{ trip.limitEntryDate|date("d/m/Y") }}</td>
				<td class="mobile-hide">{{ trip.registeredUsers|length }}/{{ trip.maxRegistrationsNb }}</td>
				<td class="mobile-hide">{{ trip.state.label }}</td>
				<td class="mobile-hide center-text">
					{% if app.user in trip.registeredUsers %}
					X
					{% endif %}
				</td>
				<td class="mobile-hide">{{ trip.organizer.firstname }}
					{{ trip.organizer.lastname|first }}.</td>
				<td class="mobile-hide">
					{% if app.user == trip.organizer and trip.state.id == 1 %}
						<a href="">Modifier</a>
					{% else %}
						<a href="{{ path('trip_details', {'id': trip.id}) }}">Afficher</a>
					{% endif %}
					{% if trip.state.id == 3 and app.user in trip.registeredUsers or trip.state.id == 2 or trip.state.id == 1 and app.user == trip.organizer %}
						<span> - </span>
						{% if trip.state.id == 3 and app.user in trip.registeredUsers or trip.state.id == 2 and app.user in trip.registeredUsers %}
							<a href="{{ path('trip_unregister', {'id': trip.id}) }}">Se désister</a>
						{% elseif trip.state.id == 2 and app.user != trip.organizer and app.user not in trip.registeredUsers %}
							<a href="{{ path('trip_register', {'id': trip.id}) }}">S'inscrire</a>
						{% elseif trip.state.id == 1 and app.user == trip.organizer %}
							<a href="">Publier</a>
						{% endif %}
					{% endif %}
					{% if (trip.state.id == 2 or trip.state.id == 3) and app.user == trip.organizer or 'ROLE_ADMIN' in app.user.roles and app.user != trip.organizer %}
						{% if 'ROLE_ADMIN' in app.user.roles and app.user != trip.organizer %}
							<span> - </span>
						{% endif %}
						<a href="{{ path('trip_cancel', {'id': trip.id}) }}">Annuler</a>
					{% endif %}
				</td>
				<td class="mobile-show">{{ trip.place.city.name|upper }}</td>
			</tr>
			{% endfor %}
			{% for j in (0..7 - trips|length) %}
			<tr>
				<td></td>
				<td></td>
				<td class="mobile-hide"></td>
				<td class="mobile-hide"></td>
				<td class="mobile-hide"></td>
				<td class="mobile-hide"></td>
				<td class="mobile-hide"></td>
				<td class="mobile-hide"></td>
				<td class="mobile-show"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>

<section>
	<a id="create-trip-button" class="mobile-hide" href="{{ path('trip_create') }}">Créer une sortie</a>
</section>
{% endblock %}