{% extends 'base.html.twig' %}

{% block title %}Modifier le Mot de Passe{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/modifier_profil.css') }}">
{% endblock %}

{% block body %}
    <div class="form">
        <h1>{{ user.pseudo }}</h1>
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <!--button type="submit" name="submit">Enregistrer</button-->
        <!--button type="submit" name="cancel">Annuler</button-->
        {{ form_end(profilForm) }}
    </div>
{% endblock %}