{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/modifier_profil.css') }}">
{% endblock %}
{% block body %}
    <div class="avatar">
        <img style="max-width: 100%" src="{{ vich_uploader_asset(user) }}">
    </div>
    <section>
        {% if not profilForm.vars.valid %}
            <div class="invalid">
                {% if form_errors(profilForm.email) %}
                    <div>L'email est incorrect ou existe déjà</div>
                {% endif %}
                {% if form_errors(profilForm.firstname) %}
                    <div>Le prénom est incorrect</div>
                {% endif %}
                {% if form_errors(profilForm.lastname) %}
                    <div>Le nom est incorrect</div>
                {% endif %}
                {% if form_errors(profilForm.pseudo) %}
                    <div>Ce pseudo existe déjà</div>
                {% endif %}
                {% if form_errors(profilForm.telephone) %}
                    <div>Le téléphone est incorrect</div>
                {% endif %}
                {% if form_errors(profilForm.campus) %}
                    <div>Le campus est incorrect</div>
                {% endif %}
                {% if form_errors(profilForm.password.first) %}
                    <div>Les mots de passe ne correspondent pas</div>
                {% endif %}
                {% if form_errors(profilForm.oldPassword) %}
                    <div>Veuillez saisir votre mot de passe actuel</div>
                {% endif %}
            </div>
        {% endif %}
        <div class="register-form-box">
            <div class="form">
                <h2>Mon Profil</h2>
                {{ form_start(profilForm) }}

                <div class="row">
                    {% if form_errors(profilForm.email) %}
                    <div class="inputbox invalid-field">
                        {% else %}
                        <div class="inputbox">
                            {% endif %}
                            {{ form_widget(profilForm.email) }}
                            {{ form_label(profilForm.email) }}
                        </div>
                        {% if form_errors(profilForm.pseudo) %}
                        <div class="inputbox invalid-field">
                            {% else %}
                            <div class="inputbox">
                                {% endif %}
                                {{ form_widget(profilForm.pseudo) }}
                                {{ form_label(profilForm.pseudo) }}
                            </div>
                    </div>
                    <div class="row">
                        {% if form_errors(profilForm.firstname) %}
                        <div class="inputbox invalid-field">
                            {% else %}
                            <div class="inputbox">
                                {% endif %}
                                {{ form_widget(profilForm.firstname) }}
                                {{ form_label(profilForm.firstname) }}
                            </div>
                            {% if form_errors(profilForm.lastname) %}
                            <div class="inputbox invalid-field">
                                {% else %}
                                <div class="inputbox">
                                    {% endif %}
                                    {{ form_widget(profilForm.lastname) }}
                                    {{ form_label(profilForm.lastname) }}
                                </div>
                            </div>
                            <div class="row">
                                {% if form_errors(profilForm.oldPassword) %}
                                <div class="inputbox invalid-field">
                                    {% else %}
                                    <div class="inputbox">
                                        {% endif %}
                                        {{ form_widget(profilForm.oldPassword) }}
                                        {{ form_label(profilForm.oldPassword) }}
                                    </div>
                                    {% if form_errors(profilForm.telephone) %}
                                    <div class="inputbox invalid-field">
                                        {% else %}
                                        <div class="inputbox">
                                            {% endif %}
                                            {{ form_widget(profilForm.telephone) }}
                                            {{ form_label(profilForm.telephone) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        {% if form_errors(profilForm.password.first) %}
                                        <div class="inputbox invalid-field">
                                        {% else %}
                                        <div class="inputbox">
                                            {% endif %}
                                            {{ form_widget(profilForm.password.first) }}
                                            {{ form_label(profilForm.password.first) }}
                                        </div>
                                        {% if form_errors(profilForm.password.first) %}
                                        <div class="inputbox invalid-field">
                                        {% else %}
                                        <div class="inputbox">
                                            {% endif %}
                                            {{ form_widget(profilForm.password.second) }}
                                            {{ form_label(profilForm.password.second) }}
                                        </div>
                                    </div>
                                            <div class="row special-field">
                                                {% if form_errors(profilForm.campus) %}
                                                <div class="">
                                                    {% else %}
                                                    <div class="">
                                                        {% endif %}
                                                        {{ form_label(profilForm.campus) }}
                                                        {{ form_widget(profilForm.campus) }}
                                                    </div>
                                                    {% if form_errors(profilForm.imageFile) %}
                                                    <div class="">
                                                        {% else %}
                                                        <div class="">
                                                            {% endif %}
                                                            {{ form_label(profilForm.imageFile) }}
                                                            {{ form_widget(profilForm.imageFile) }}
                                                        </div>
                                                    </div>
                                                    <div class="row-button">
                                                        <button type="submit" class="btn">Enregistrer</button>
                                                        <div class="space"></div>
                                                        <a href="{{ path('app_main') }}"><button class="btn">Annuler</button></a>
                                                    </div>
                                                    {{ form_end(profilForm) }}
                                                </div>
                                            </div>
    </section>
{% endblock %}
