{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}
    <div class="profil">
        <h1>{{ user.pseudo }}</h1>
        <div class="value"> {{ user.name}}</div>
        <div class="value"> {{ user.firstname}}</div>
        <div class="value"> {{ user.email}}</div>
        <div class="value"> {{ user.telephone}}</div>

        <div class="btn">
            <a href="{{ path('app_profil_modify') }}">Modifier</a>
        </div>
        <div class="btn">
            <a href="{{ path('app_profil_modify_password') }}">Modifier mot de passe</a>
        </div>


    </div>



{% endblock %}
