{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block extrastyles %} <link rel="stylesheet" href="{{ asset('css/createTrip.css') }}"> {% endblock %}

{% block body %}
    <h3>Créer une sortie</h3>

<section>
    {{ form_start(tripForm) }}
    {{ form_widget(tripForm) }}
</section>
    <div><a id="create-trip-button" class="mobile-hide" href="{{ path('app_main') }}">Annuler</a></div>
{{ form_end(tripForm) }}
{% endblock %}
