{% extends 'base.html.twig' %}

{% block title %}Modification ville{% endblock %}

{% block extrastyles %} <link rel="stylesheet" href="{{ asset('css/form.css') }}"> {% endblock %}

{% block body %}
<section>
    {% if not cityForm.vars.valid %}
        <div class="invalid">
            {% if form_errors(cityForm.name) %}
                <div>Le nom est incorrect</div>
            {% endif %}
            {% if form_errors(cityForm.postalCode) %}
                <div>Le code postal est incorrect</div>
            {% endif %}
        </div>
    {% endif %}
    <div class="form-box">
        <div class="form">
        <h2>Modifier une ville</h2>
            {{ form_start(cityForm) }}
            <div class="row">
                <div class="inputbox">
                    {{ form_widget(cityForm.name) }}
                    {{ form_label(cityForm.name) }}
                </div>
            </div>
            <div class="row">
                <div class="inputbox">
                    {{ form_widget(cityForm.postalCode) }}
                    {{ form_label(cityForm.postalCode) }}
                </div>
            </div>
            <div class="form-box-row-button">
                <a class="cancel" href="{{ path('admin_city_list') }}">Annuler</a>
                <button>Valider</button>
            </div>
            {{ form_end(cityForm) }}
        </div>
    </div>
</section>
{% endblock %}
