{% extends 'base.html.twig' %}

{% block title %}Gestion villes{% endblock %}

{% block extrastyles %} <link rel="stylesheet" href="{{ asset('css/table.css') }}"> {% endblock %}

{% block body %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<h2>Gérer les villes</h2>
{% for message in app.flashes('success') %}
    <div class="flash">
        {{ message }}
    </div>
{% endfor %}
<section>
    <div id="filters">
        <h3>Filtrer les villes</h3>
            {{ form_start(searchForm) }}
                {{ form_label(searchForm.searchzone) }}
                <div>
                    <ion-icon name="search-outline"></ion-icon>
                    {{ form_widget(searchForm.searchzone) }}
                </div>
                <button>Rechercher</button>
        {{ form_end(searchForm) }}
    </div>
    <div id="table">
        <table>
            <thead>
                <tr>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{ form_start(cityForm) }}
                    <td>{{ form_widget(cityForm.name) }}</td>
                    <td>{{ form_widget(cityForm.postalCode) }}</td>
                    <td><button class="add-btn">Ajouter</button></td>
                    {{ form_end(cityForm) }}
                </tr>
                {% for city in cities %}
                    <tr>
                        <td>{{ city.name }}</td>
                        <td>{{ city.postalCode }}</td>
                        <td>
                            <a href="{{ path('admin_city_modify', {'id': city.id}) }}">Modifier</a>
                            <span> - </span>
                            <a href="{{ path('admin_city_delete', {'id': city.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                {% if cities|length < 6 %}
                    {% for j in (0..5 - cities|length) %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
