<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block extrastyles %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <div id="header-top">
                <h1><a href="{{ path('app_main') }}">Sortir.com</a></h1>
                {% if(app.user) %}
                    <nav>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="#" title="Gestion des villes">Villes</a>
                            <a href="#" title="Gestion des campus">Campus</a>
                        {% endif %}
                        <a href="{{ path('app_main') }}" title="Retour à l'accueil">Accueil</a>
                        <a href="#" title="Voir mon profil">Mon profil</a>
                        <a href="{{ path('app_logout') }}" title="Déconnexion">Se déconnecter</a>
                    </nav>
                {% endif %}
            </div>
        </header>

        <main>
            {% block body %}{% endblock body %}
        </main>
    </div>
</body>
</html>