{% extends 'base.html.twig' %}

{% block title %}Gestion utilisateurs{% endblock %}

{% block extrastyles %} <link rel="stylesheet" href="{{ asset('css/table.css') }}"> {% endblock %}

{% block body %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<h2>Gérer les utilisateurs</h2>
{% for message in app.flashes('success') %}
    <div class="flash">
        {{ message }}
    </div>
{% endfor %}
<section>
    <div id="filters">
        <h3>Filtrer les utilisateurs</h3>
            {{ form_start(searchForm) }}
                {{ form_label(searchForm.searchzone) }}
                <div>
                    <ion-icon name="search-outline"></ion-icon>
                    {{ form_widget(searchForm.searchzone) }}
                </div>
                <button>Rechercher</button>
        {{ form_end(searchForm) }}
    </div>
    <div id="table">
        <table>
            <thead>
                <tr>
                    <th class="mobile-hide">Utilisateur</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td class="mobile-hide">{{ user.firstname }} {{ user.lastname|upper }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ path('admin_user_active', {'id': user.id}) }}">
                                {% if user.active %}
                                    Désactiver
                                {% else %}
                                    Activer
                                {% endif %}
                            </a>
                            <span> - </span>
                            <a href="{{ path('admin_user_delete', {'id': user.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                {% if users|length < 7 %}
                    {% for j in (0..6 - users|length) %}
                    <tr>
                        <td class="mobile-hide"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="under-table">
        <a id="add-user" href="{{ path('admin_register') }}">Ajouter un utilisateur</a>
        {{ form_start(fileForm) }}
            {{ form_label(fileForm.file) }}
            {{ form_widget(fileForm.file) }}
            <button>Importer des utilisateurs</button>
        {{ form_end(fileForm) }}
    </div>
</section>
{% endblock %}
